<footer style="color:#fff;">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="ice-div ice-div-1-1" style="height:60px;background: #2c3d4f;line-height:60px;padding-left:20px">
  	Powered by <a href="http://hexo.io/">Hexo</a> Theme by <a href="http://www.besdlab.cn">BESD</a>
  </div>
</footer>